VITE_SUPABASE_URL=https://awbrcwjxtauvggyfpdyt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3YnJjd2p4dGF1dmdneWZwZHl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5MjgyODAsImV4cCI6MjEwMjUwNDI4MH0.Rp-M7eFSralkUmu6lmCSZ2ikWagw-yqmkh5jEJCJGIs
